<%- include('../partials/header') %>
<div class="background-div">
    <section class="page-flights">
        <table>
            <thead>
                <tr>
                    <th></th>
                    <th>Flight Number</th>
                    <th>Airline</th>
                    <th>Airport</th>
                    <!-- <th>Destinations</th>
                    <th></th> -->
                    <th>Departure Time</th>
                </tr>
            </thead>

            <tbody>
                <% flights.forEach(function(f) { %>
                    <tr class="t-flights">
                        <td><a class="details-link" href="/flights/<%= f._id %>">DETAILS</a></td>
                        <td class="td-number"><%= f.flightNo %></td>
                        <td class="td-airline"><%= f.airline %></td>
                        <td class="td-airport"><%= f.airport %></td>
                        <!-- <td><%= f.destinations.airport %></td>
                            <td><%= f.destinations.arrival %></td> -->
                        <% var currentDate = new Date(); %>
                        <% if (f.departs < currentDate) { %>
                            <td class="td-departure" style="color: red"><%= f.departs %></td>
                        <% } else { %>
                            <td class="td-departure"><%= f.departs %></td>
                        <% } %>
                    </tr>
                <% }); %>
            </tbody>
        </table>
    </section>
</div>
<%- include('../partials/footer') %>