<%- include('../partials/header') %>

<div class="background-div">
    <section id="show-page">
        <div>Airline: </div>
        <div><%= flight.airline %></div>
        <div>Flight Number: </div>
        <div><%= flight.flightNo %></div>
        <div>Airport: </div>
        <div><%= flight.airport %></div>
        <div>Departure Time: </div>
        <div><%= flight.departs %></div>
    </section>
    
    <div class="show-destinations">
        <br><br><h2>Destinations</h2>
        <form id="add-destination" method="POST" action="/flights/<%= flight._id %>/destinations">
            <label>Airport:</label>
            <select name="airport">
                <option value="AUS">AUS</option>
                <option value="DAL">DAL</option>
                <option value="LAX">LAX</option>
                <option value="SEA">SEA</option>
            </select>
            <label>Arrival Time:</label>
            <input name="arrival" type="datetime-local">
            <button type="submit">Add</button>
        </form>
    </br>
    </br>
        <% if (flight.destinations.length) { %>
        <table>
            <thead>
                <tr>
                    <th>Airport</th>
                    <th>Arrival Time</th>
                </tr>
            </thead>
            <tbody>
            <% flight.destinations.forEach(function(d) { %>
                <tr>
                    <td><%= d.airport %></td>
                    <td><%= d.arrival %></td>
                </tr>
            <% }); %>
            </tbody>
        </table>
        <% } else { %>
        <h5>No destinations yet.</h5>
        <% } %>
    </div>
</div>

<%- include('../partials/footer') %>