<%- include('../partials/header') %>

<div class="background-div">
    <section id="show-page">
        <div>Airline: </div>
        <div><%= flight.airline %></div>
        <div>Flight Number: </div>
        <div><%= flight.flightNo %></div>
        <div>Airport: </div>
        <div><%= flight.airport %></div>
        <div>Departure Time: </div>
        <div><%= flight.departs %></div>
    </section>
    <section class="show-sub">
        <br><br><h2>Tickets</h2>
        <% if (flight.tickets.length) { %>
            <table>
                <thead>
                    <tr>
                        <th>Seat</th>
                        <th>Price</th>
                    </tr>
                </thead>
                <tbody>
                <% flight.tickets.forEach(function(t) { %>
                    <tr>
                        <td><%= t.seat %></td>
                        <td><%= t.price %></td>
                    </tr>
                <% }); %>
                </tbody>
            </table>
        <% } else { %>
            <h5>No tickets yet.</h5>
        <% } %>
        <a class="add-ticket" href="/flights/<%= flight._id %>/tickets/new">Add Ticket</a>
    </section>

    <section class="show-sub">
        <br><br><h2>Destinations</h2>
        <form id="add-destination" method="POST" action="/flights/<%= flight._id %>/destinations">
            <label>Airport:</label>
            <select name="airport">
                <option value="AUS">AUS</option>
                <option value="DAL">DAL</option>
                <option value="LAX">LAX</option>
                <option value="SEA">SEA</option>
            </select>
            <label>Arrival Time:</label>
            <input name="arrival" type="datetime-local">
            <button type="submit">Add</button>
        </form>
    </br>
    </br>
        <% if (flight.destinations.length) { %>
        <table>
            <thead>
                <tr>
                    <th>Airport</th>
                    <th>Arrival Time</th>
                </tr>
            </thead>
            <tbody>
            <% flight.destinations.forEach(function(d) { %>
                <tr>
                    <td><%= d.airport %></td>
                    <td><%= d.arrival %></td>
                </tr>
            <% }); %>
            </tbody>
        </table>
        <% } else { %>
        <h5>No destinations yet.</h5>
        <% } %>
    </section>
</div>

<%- include('../partials/footer') %>